name: flutter_playground
description: "A new Flutter project."
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.10.3

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  altive_lints: ^2.0.0-dev.2
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
